
//@theme "/usr/share/rofi/themes/purple.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/modern.rasi"

//@theme "/usr/share/rofi/themes/modern.rasi"

@theme "~/.config/rofi/themes/modern.rasi"
